h1 {
    font-weight: 300;
    font-family: 'Roboto', 'Sans-Serif';
    text-align: center;
  }
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
thead {
    height: 2rem;
    text-align: left;
    background-color: #d3d3d3;
    color: #1db954;
}
img {
    max-height: 100px;
    max-width: 100px;
}
th, tr {
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}
tbody tr:nth-of-type(even){
    background-color: #eee;
}
tbody tr:hover{
    background-color: pink;
}